<p style="color: blue:" > This is a paragraph.</p>
  

  h1 {
    color: rgba(66, 57, 57, 0.904);
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  #logo {
    background: url(websiteassets/logo.png);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    align-self: auto;
  }